extends base

block content
    main.container.mt-5
        if pageTitle
            .article.pageTitleContainer
                p.pageTitle=pageTitle
        - if (tours.length > 0)
            .row.mb-5.animate__animated.animate__fadeIn
                    each tour in tours
                        .col-sm-6.col-lg-4.mb-4
                            .card.overviewCard
                                .overview-card-header
                                    .card.card-image
                                        .card-picture-overlay 
                                        img(src=`img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                                    .row 
                                        .col-8.offset-1.card-header-image-title
                                            span= tour.name
                                .card-body.text-muted.px-5.mt-2
                                    h5.card-tittle.mb-2= `${tour.difficulty} ${tour.duration}-day tour` 
                                    p.card-text.mb-4= tour.summary
                                    .row.mt-3
                                        .col-sm-12.col-md-6.d-flex.mb-4
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                            </svg>
                                            span.my-auto= tour.startLocation.description
                                        .col-sm-12.col-md-6.d-flex.mb-4
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                            </svg>
                                            span.my-auto= tour.startDates[0].toLocaleString("en-us", {month: "long", year: "numeric"})
                                        .col-sm-12.col-md-6.d-flex.mb-3
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                            </svg>
                                            span.my-auto= `${tour.locations.length} stops`
                                        .col-sm-12.col-md-6.d-flex.mb-3
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                            </svg>
                                            span.my-auto= `${tour.maxGroupSize} people`
                                .card-footer.pb-2
                                    .row.text-muted.px-3
                                        .col-sm-12.col-md-6.my-3.text-center
                                            a.btn.rounded-pill.my-auto.px-3.py-2(href=`/review-tour/${tour.id}`) REVIEW
                                        .col-sm-12.col-md-6.d-flex.justify-content-center
                                            a.btn.rounded-pill.my-auto.px-3.py-2(href=`/tour/${tour.slug}`) DETAILS
        -else    
            p.noBookedTours You have not booked any tours yet. 
            